- is_finished = @profile.finished_profile? 

.page-header
  %h1 
    Hi, 
    = @profile.name? ? @profile.name : @profile.email
- unless is_finished
  Please finish your 
- else 
  Edit your 
= link_to "profile", edit_profile_path(@profile)
.row
  .post-preview
    = render partial: 'shared/images', locals: {profile: @profile}