- is_finished = @profile.finished_profile? 

.page-header
  %h1 
    Hi, 
    = is_finished ? @profile.name : @profile.email
- unless is_finished
  Please finished your 
- else 
  Edit your 
  = link_to "profile", edit_profile_path(@profile)

  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      .post-preview
        = render partial: 'shared/images', locals: {profile: @profile}