.page-header
  = link_to new_comment_path(post_id: @post), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Comment
  %h1 Listing comments

-unless @comments.empty?
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      = render partial: 'row', collection: @comments, locals: {post: @post}

      %hr/
      / Pager
      %ul.pager
        %li.next
          = paginate @comments
- else
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      .post-preview
        -unless @post.nil?
          %a{:href => post_path(@post)}
            %h2.post-title
              Empty